<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InfoWire</title>
    {% endblock head %}
</head>
<body>
    
    <h1>InfoWire</h1>
    <h3 style="font-family: Arial">Verification</h3>
    
    {% block form %}
    <form action=" {{ url_for('ver')}} " method="post">
        <input type="text" name="username">
        <button>Log in</button>   
    </form>
    {% endblock form %}
    {% block content %}
    {% for row in result %}
    <div>
        <h1> {{ row[1] }}</h1>
        <p>{{ row[0] }}</p>
        <p>{{ row[2] }} </p>
        <p> {{ row[3] }} </p>
    </div>
    {% endfor %}
    {% endblock content %}

</body>
</html>